@import variaveis
.card
    width: 190px
    height: 254px
    background: #fbe6ca
    border-radius: 15px
    box-shadow: 1px 5px 60px 0px black


.card .card-border-top 
    width: 60%
    height: 3%
    background: black
    margin: auto
    border-radius: 0px 0px 15px 15px


.card span 
    font-weight: 600
    color: black
    text-align: center
    display: block
    padding-top: 10px
    font-size: 16px


.card .job 
    font-weight: 400
    color: black
    display: block
    text-align: center
    padding-top: 3px
    font-size: 12px


.card .img 
    width: 70px
    height: 80px
    background: black
    border-radius: 15px
    margin: auto
    margin-top: 25px


.card button 
    padding: 8px 25px
    display: block
    margin: auto
    border-radius: 8px
    border: none
    margin-top: 30px
    background: black
    color: white
    font-weight: 600


.card button:hover 
    background: black
