footer 
    margin-top: 1rem
    white-space: nowrap
    font-size: 0.9rem
    position: static 
    bottom: 0      
    width: 100%
    background-color: transparent
    font-family: 'Manrope', sans-serif
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    height: 100px
    gap: 0.5rem
    h4, .icon
        color:#314c58  

@media screen and (max-width: 350px)
    footer 
        font-size: 0.7rem

@media screen and (min-width: 350px)
    footer 
        font-size: 0.8rem

@media screen and (min-width: 400px)
    footer 
        font-size: 0.9rem

@media screen and (min-width: 1920px)
    footer 
        font-size: 1.2rem