@import variaveis
*
    margin: 0
    padding: 0

#root 
    background: $main-color
    /*animation: gradient 4s infinite alternate*/
    background-size: 400%

body
    font-size: $base-font-size

main
    margin-left: auto
    margin-right: auto
    padding-left: 0.5rem 
    padding-right: 0.5rem
    display: grid
    grid-template-columns: repeat(1, minmax(250px, 1fr))
    justify-content: center
    box-sizing: border-box
    gap: 1rem

//@keyframes gradient 
//    0% 
//       background-position: right
//    100% 
//        background-position: left

.titulo-container
    min-width: 0
    white-space: nowrap
    margin-left: 1rem
    margin-top: 2.5rem
    flex-direction: column
    font-family: 'Libre Bodoni', sans-serif

.titulo
    color: #253b46
    text-shadow: 1px 3px 8px rgba(0,0,0,0.2)
    font-size: 1.2rem
    font-weight: 800
    margin-left: 2px

.titulo2
    color: #253b46
    text-shadow: 1px 3px 8px rgba(0,0,0,0.2)
    font-weight: 800
    font-size: 2.5rem
    animation: typing 5s
    margin-bottom: 12px

.descricao
    color: #253b46
    font-size: 1rem
    font-style: italic
    font-weight: 800
    font-family: 'Manrope', sans-serif

.descricao2
    color: #253b46
    font-size: 0.7rem
    font-family: 'Manrope', sans-serif
    font-weight: 200
    white-space: nowrap

.icon-container
    font-family: 'DM Serif Display', sans-serif
    font-size: 5rem
    display: flex
    justify-content: center
    flex-direction: row
    transform: rotate(6deg)
    padding: 0
    user-select: none
    
.frontal
    position: absolute
    color: #dfedfa
    z-index: 1
    border: #253b46
    text-shadow: 10px 0 8px #253b46

.sombra
    color: #253b46
    position: relative
    transform: scale(1.03)
    z-index: 1
    margin-left: 0.8rem
    text-shadow: -8px 0 4px rgba(0, 0, 0, 0.5)

.cards-container
    background-color: transparent
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    align-items: center
    justify-items: center
    row-gap: 1rem

.projects-title 
    display: flex
    justify-content: center
    align-items: center
    font-family: 'Libre Bodoni', sans-serif
    font-size: 3rem
    margin: 0.8rem
    color: #2b434e

.about-container
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))

@keyframes typing
    from   
        width: 0
    to 
        width: fit-content

@media screen and (max-width: $xxs)
    main
        max-width: $xxs
    .descricao,
    .descricao2
        white-space: normal

@media screen and (min-width: $xs)
    main
        max-width: 500px

    .titulo-container
        margin-left: 1.4rem

    .titulo
        margin-left: 2px
        font-size: 1.2rem

    .titulo2
        font-size: 2.5rem

    .descricao
        font-size: 1rem

    .descricao2
        font-size: 1rem

@media screen and (min-width: $s)
    main
        max-width: $s

    .projects-title 
        justify-content: start
        align-items: start
        margin: 40px 0 0 80px

    .about-container
        grid-template-columns: repeat(2, minmax(250px, 1fr))

    .titulo-container
        margin-left: 1.3rem

    .titulo
        margin-left: 2px
        font-size: 1.2rem
        
    .titulo2
        font-size: 2.4rem

    .descricao
        font-size: 0.8rem

    .descricao2
        font-size: 0.8rem

    .icon-container
        font-size: 6rem
        width: auto
        margin-left: 0
        
@media screen and (min-width: $m)
    main
        max-width: 800px
    
    .about-container
        grid-template-columns: repeat(2, minmax(250px, 1fr))

    .titulo-container
        margin-left: 2rem

    .projects-title 
        justify-content: start
        align-items: start
        margin: 40px 0 0 60px

    .titulo
        margin-left: 2px
        font-size: 1.3rem

    .titulo2
        font-size: 2.8rem

    .descricao
        font-size: 1rem

    .descricao2
        font-size: 1rem

    .icon-container
        font-size: 7rem
        width: auto
        margin-left: 0

@media screen and (min-width: $l)
    main
        max-width: 1200px

    .about-container
        grid-template-columns: repeat(2, minmax(250px, 1fr))

    .titulo-container
        margin-left: 4rem
    
    .projects-title 
        justify-content: start
        align-items: start
        margin: 40px 0 0 70px

    .titulo
        margin-left: 2px
        font-size: 1.4rem

    .titulo2
        font-size: 3.2rem

    .descricao
        font-size: 1.5rem

    .descricao2
        font-size: 1rem

    .icon-container
        font-size: 8rem
        width: auto
        margin-left: 0


@media screen and (min-width: $xl)
    main
        max-width: $xl

    .about-container
        grid-template-columns: repeat(2, minmax(250px, 1fr))

    .titulo-container
        margin-left: 4rem

    .projects-title 
        justify-content: start
        align-items: start
        margin: 40px 0 0 85px

    .titulo
        margin-left: 2px
        font-size: 2rem

    .titulo2
        font-size: 3.7rem

    .descricao
        font-size: 1.6rem

    .descricao2
        font-size: 1.1rem

    .icon-container
        font-size: 10rem
        width: auto
        margin-left: 0


@media screen and (min-width: $xxl)
    main
        max-width: 1600px

    .about-container
        grid-template-columns: repeat(2, minmax(250px, 1fr))

    .titulo-container
        margin-left: 4rem
    
    .projects-title 
        justify-content: start
        align-items: start
        margin: 40px 0 0 90px

    .titulo
        margin-left: 2px
        font-size: 2rem

    .titulo2
        font-size: 4.2rem

    .descricao
        font-size: 1.7rem

    .descricao2
        font-size: 1.2rem

    .icon-container
        font-size: 10rem
        width: auto
        margin-left: 0

@media screen and (min-width: $xxxl)
    main
        max-width: 2560px

    .about-container
        grid-template-columns: repeat(2, minmax(250px, 1fr))

    .titulo-container
        margin-left: 6rem
    
    .projects-title 
        justify-content: start
        align-items: start
        margin: 40px 0 0 90px

    .titulo
        margin-left: 2px
        font-size: 2.8rem

    .titulo2
        font-size: 5rem

    .descricao
        font-size: 1.8rem

    .descricao2
        font-size: 1.3rem

    .icon-container
        font-size: 10rem
        width: auto
        margin-left: 0


